--extra-index-url https://download.pytorch.org/whl/nightly/cpu
--pre
wheel

torch==1.13.0.dev20220623
torchvision==0.14.0.dev20220623

omegaconf>=2.0.0
pytorch-lightning>=1.0.8
torch-fidelity
transformers==4.3.1
einops
